<nav class="navbar">
  <button (click)="navigateTo('/login')">Login</button>
  <button (click)="navigateTo('/events-list')">My Events</button>
  <button (click)="navigateTo('/invites-list')">My Invites</button>
  <button (click)="navigateTo('/event-form')">Create Event</button>
  <button (click)="navigateTo('/landing-page')">Landing Page</button>
</nav>

<div *ngIf="events.length > 0; else noEvents">
  <ul class="no-bullet">
    <li *ngFor="let event of events">
      <div class="event-card">
        <!-- Event Name -->
        <h3>{{ event.name }}</h3>

        <!-- Event Location and Date and Organizer -->
        <p>{{ event.location }}</p>
        <p>{{ event.startDate | date: 'short' }} - {{ event.endDate | date: 'short' }}</p>
        <br>
        <strong>Invited by organizer:</strong>
        <p> {{event.organizerUserEmail}}</p>

        <!-- Event Schedule -->
        <div class="schedule">
          <strong>Event Schedule:</strong>
          <ul>
            <li *ngFor="let item of event.schedule">
              <span>{{ item.time | date: 'shortTime' }} - {{ item.description }}</span>
            </li>
          </ul>
        </div>

        <!-- Button to view event details -->
        <button (click)="viewEventDetails(event.eventId)">View Details</button>
        <button class="accept" (click)="acceptEvent(event)">Accept</button>
        <button class="decline" (click)="declineEvent(event)">Decline</button>
      </div>
    </li>
  </ul>
</div>

<!-- If no events are available -->
<ng-template #noEvents>
  <p>No events to display.</p>
</ng-template>
