<nav class="navbar">
  <button (click)="navigateTo('/login')">Login</button>
  <button (click)="navigateTo('/events-list')">My Events</button>
  <button (click)="navigateTo('/invites-list')">My Invites</button>
  <button (click)="navigateTo('/event-form')">Create Event</button>
  <button (click)="navigateTo('/landing-page')">Landing Page</button>
</nav>

<div *ngIf="events.length > 0; else noEvents">
  <ul class="no-bullet">
    <li *ngFor="let event of events">
      <div class="event-card">
        <!-- Event Name -->
        <h3>{{ event.name }}</h3>

        <!-- Event Location and Date -->
        <p>{{ event.location }}</p>
        <p>{{ event.startDate | date: 'medium' }} - {{ event.endDate | date: 'medium' }}</p>


        <!-- Attendees List -->
        <div class="attendees">
          <strong>Attendees:</strong>
          <ul>
            <li *ngFor="let attendee of event.attendees">{{ attendee.email}} - {{attendee.confirmedStatus}}</li>
          </ul>
        </div>

        <!-- Event Schedule -->
        <div class="schedule">
          <strong>Event Schedule:</strong>
          <ul>
            <li *ngFor="let item of event.schedule">
              <span>{{ item.time | date: 'shortTime' }} - {{ item.description }}</span>
            </li>
          </ul>
        </div>

        <!-- Button to view event details -->
        <button (click)="viewEventDetails(event)">View Details</button>
      </div>
    </li>
  </ul>
</div>

<!-- If no events are available -->
<ng-template #noEvents>
  <p>No events to display.</p>
</ng-template>
