<nav class="navbar">
  <button (click)="navigateTo('/login')">Login</button>
  <button (click)="navigateTo('/events-list')">My Events</button>
  <button (click)="navigateTo('/invites-list')">My Invites</button>
  <button (click)="navigateTo('/event-form')">Create Event</button>
  <button (click)="navigateTo('/landing-page')">Landing Page</button>
</nav>

<div class="container">
  <form (ngSubmit)="onSubmit()" class="event-form">
    <!-- Event Name and Location -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Event Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="event.name"
          name="name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="location">Location</label>
        <input
          type="text"
          pInputText
          id="location"
          [(ngModel)]="event.location"
          name="location"
          class="form-control"
          required
        />
      </div>
    </div>

    <!-- Date Inputs -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="startDate">Start Date</label>
        <p-calendar
          id="startDate"
          [(ngModel)]="event.startDate"
          name="startDate"
          dateFormat="yy-mm-dd"
          hourFormat="24"
          required
        ></p-calendar>
      </div>
      <div class="form-group col-md-6">
        <label for="endDate">End Date</label>
        <p-calendar
          id="endDate"
          [(ngModel)]="event.endDate"
          name="endDate"
          dateFormat="yy-mm-dd"
          hourFormat="24"
          required
        ></p-calendar>
      </div>
    </div>

    <!-- Attendees Section -->
    <div class="form-group">
      <label>Attendees</label>
      <div class="attendees-cards">
        <div *ngFor="let attendee of event.attendees; let i = index" class="attendee-card">
          <p-card>
            <ng-template pTemplate="content">
              <div class="attendee-card-content">
                <span>{{ attendee.email }}</span>
                <button
                  type="button"
                  (click)="removeAttendee(i)"
                  pButton
                  icon="pi pi-times"
                  class="remove-button"
                ></button>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="attendeeEmail">Add Attendee (Email)</label>
        <input
          type="email"
          pInputText
          id="attendeeEmail"
          [(ngModel)]="newAttendeeEmail"
          name="attendeeEmail"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-actions">
      <button
        type="button"
        (click)="addAttendee()"
        pButton
        label="Add Attendee"
        icon="pi pi-plus"
        class="add-button"
      ></button>
      <input
        type="file"
        accept=".xlsx, .xls"
        id="excelFileInput"
        (change)="onExcelFileUpload($event)"
        style="display: none;"
      />
      <button
        type="button"
        (click)="triggerExcelUpload()"
        pButton
        label="Import from Excel"
        icon="pi pi-upload"
        class="submit-button"
      ></button>
    </div>


    <!-- Schedule Section -->
    <div class="form-group">
      <label>Schedule</label>
      <div class="schedule-cards">
        <div *ngFor="let schedule of schedules; let i = index; trackBy: trackByIndex" class="schedule-card">
          <p-card>
            <ng-template pTemplate="content">
              <div class="schedule-card-content">
                <span>{{ schedule.description }}</span>
                <p-calendar
                  [(ngModel)]="schedule.time"
                  name="scheduleTime{{ i }}"
                  [showTime]="true"
                  dateFormat="yy-mm-dd"
                  hourFormat="24"
                ></p-calendar>
                <button
                  type="button"
                  (click)="removeSchedule(i)"
                  pButton
                  icon="pi pi-times"
                  class="remove-button"
                ></button>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>


    <!-- Add Schedule -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="customScheduleDescription">Schedule Description</label>
        <input
          type="text"
          pInputText
          id="customScheduleDescription"
          [(ngModel)]="customSchedule.description"
          name="customScheduleDescription"
          class="form-control"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="customScheduleTime">Schedule Time</label>
        <p-calendar
          id="customScheduleTime"
          [(ngModel)]="customSchedule.time"
          name="customScheduleTime"
          [showTime]="true"
          dateFormat="yy-mm-dd"
          hourFormat="24"
        ></p-calendar>
      </div>
    </div>


    <!-- Add and Submit Buttons -->
    <div class="form-actions">
      <button class="add-button"
        type="button"
        (click)="addCustomSchedule()"
        pButton
        label="Add Schedule"
        icon="pi pi-plus"
      ></button>
      <button class="submit-button"
        type="submit"
        pButton
        label="Submit and send invitations"
        icon="pi pi-check"
        [disabled]="isSubmitting"
      ></button>
    </div>
  </form>
</div>
